@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,800;1,500&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  font-weight:600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
/***   SCHROLLBAR   ***/

body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}
  
  body::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(119, 119, 119);    /* color of the scroll thumb */
    border-radius: 50px;       /* roundness of the scroll thumb */
    
  }
 

.cover-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mt-20 {
  margin-top: 50px;
  text-align: center;
}
.mx-20 {
  margin-top: 20px;
  margin-bottom: 32vh;
  text-align: center;

}
.mb-20 {
  margin-bottom: 50px;
}
.mb-30{
  margin-bottom: 30px;
;

}
.pb-35{
     padding-bottom: 35px;
}
.mt-35{
  margin-top: 35px;

}

.mt-30{
  margin-top: 35px;

}

.section_padding{
  padding: 50px 0; 
  padding-bottom: 80px; /* this is the space from up-down and left-right*/
}




p {
  line-height: 1.6;
  color: rgb(5, 5, 5);
  margin: 10px;
}
span,
a {
  display: inline-block;
}

/***         NAVBAR           ***/

header{
 position: relative;
 width: 100%;
 height: 12%;
 padding: 5px 30px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
header ul{
  position: relative;
  display: flex;
  padding-right: 5%;

}
header ul li{
  list-style: none;
}
header ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  margin-left: 65px;
  font-size: 20px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 9rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);
  }
      
  .hamburger.active .bar:nth-child(2) {
        opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
  }
  
  header ul li a{
    color: rgb(58, 31, 179);
  }

  header ul li{
    margin: 10px;
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

}
 
@media only screen and (max-width: 768px){
  
  .hamburger {
    display: block;
    cursor: pointer;
  }
  
}

@media only screen and (min-width: 768px){
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
}


.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.img-fluid1{
  padding: 30px 30px;
  padding-top: 50px;
}

.container{
 max-width: 120rem;
 width: 90%;
  
}

.menu-toggle{
 position: fixed;
 top: 2.5rem;
 right: 2.5rem;
 color: #eeeeee;
 font-size: 3rem;
 cursor: pointer;
 z-index: 1000;
 display: none;
}

nav{
 padding-top: 0rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
 text-transform: uppercase;
 font-size: 1.6rem;
 
}

.brand{
 font-size: 3rem;
 font-weight: 300;
 transform: translateX(-100rem);
 animation: slideIn .5s forwards;
 
}

.brand span{
 color: rgb(255, 255, 255);
}
.brand a{
   margin-top: 0px;
   color: #fff;
   text-decoration: none;
}

nav ul{
 display: flex;
}

nav ul li{
 list-style: none;
 transform: translateX(100rem);
 animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
 animation-delay: 0s;
}

nav ul li:nth-child(2){
 animation-delay: .5s;
}

nav ul li:nth-child(3){
 animation-delay: 1s;
}

nav ul li:nth-child(4){
 animation-delay: 1.5s;
}

nav ul li a{
 padding: 1rem 0;
 margin: 0 25vh;
 position: relative;
 letter-spacing: 2px;
 color: rgb(255, 255, 255);
}

nav ul li a:last-child{
 margin-right: 0;
}
a:focus, a:hover {
  color: #ccc3c3;
  text-decoration: none;
}

nav ul li a::before,
nav ul li a::after{
 content: '';
 position: absolute;
 width: 100%;
 height: 2px;
 background-color: rgb(250, 250, 250);
 left: 0;
 transform: scaleX(0);
 transition: all .5s;
}

nav ul li a::before{
 top: 0;
 transform-origin: left;
}

nav ul li a::after{
 bottom: 0;
 transform-origin: right;
 text-decoration: none;
}

.overlay{
 background-color: rgba(0,0,0,.95);
 position: fixed;
 right: 0;
 left: 0;
 top: 0;
 bottom: 0;
 transition: opacity 650ms;
 transform: scale(0);
 opacity: 0;
 display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after{
 transform: scaleX(2.5);
}

@keyframes slideIn {
 from{

 }
 to{
   transform: translateX(0);
 }
}

/*    media query     */

@media screen and (max-width: 500px){

 .menu-toggle{
   display: block;
 }

 nav{
   padding-top: 0;
   display: none;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   height: 100vh;
   text-align: center;
 }

 nav ul{
   flex-direction: column;
 }

 nav ul li{
   margin-top: 5rem;
 }

 nav ul li a{
   margin: 0;
   font-size: 1.5rem;
   
   
 }
 nav ul li a{
  margin: 0;
  font-size: 1.5rem;
  
  
}

 
 .overlay.menu-open,
 nav.menu-open{
   display: flex;
   transform: scale(1);
   opacity: 1;
 }


 
 
}





/** section part**/
 
.section_title{
     position: relative;
     margin-bottom: 70px;
     width: 100%;
     text-align: center;
 }
  p span{
   color: blue;
   font-weight: 600;
   font-size: 14px;
  }

 .section_title p{
   background-color:   #1957f3;
   color: #fff;
    margin-bottom: 5px;
   text-align: center;
   text-transform: uppercase;
   padding: o 12px;
   letter-spacing: 1px;
   border-radius: 50px;
 }
 .section_title p{
   position: relative;
   font-size: 36px;
   text-transform: uppercase;
   line-height: 1.14;
   letter-spacing: 1.4px;
   padding: 13px;
    
 }
 
 .section_title h3{
  position: relative;
  font-size: 30px;
  text-transform: capitalize;
  line-height: .5;
  letter-spacing: .4px;
  padding: 13px;
}
 
/* Lower buttons CSS */



.btn{
  background-color:    #1957f3;
  border: 2px solid #ffffff;
   box-shadow: inset 0 0 0 0 #fff;
  letter-spacing: 1px;
  border-radius: 0;
  color: #fff;
  font-size: 14px;
  margin-right: 10px;
}

.btn:hover{
  box-shadow: inset 12em 0 0 0 #fff;
  color: #2aa1aa;



}



.banner {
background-image: url(/photo/svg/banner-new\ \(2\).svg);
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}
.banner .caption h4 {
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
}
.banner .caption{
  position: relative;
  max-width: 500px;
  margin-top: 4%;
}
.banner .caption h2 {
  color: rgb(63 58 255);
  font-size: 5rem;
  margin: 0px;
  letter-spacing: 2px;
  font-family: 'Poppins', sans-serif;  
  line-height: 53px;
  font-weight: 600;
}

.banner .caption h2 span{
  color: #ff7717;
  font-size: 9rem;
  font-weight: 1500;
  margin-top: 20px;
  margin-left: -5px;
}
.row {
  margin-top: 10px;
}
.banner .caption p {
  max-width: 400px;
  color: rgb(63 58 255);
  font-size: 14px;
  line-height: 24px;
  opacity: 100%;
  margin: 0px;
  margin-top: 5%;
}

.banner .caption h5 {
  color: rgb(255, 255, 255);
  font-size: 12px;
  line-height: 30px;
  opacity: 50%;
  margin-bottom: 0px;
}

.social_icon{
  margin-top: 18px;
  margin-left: -15px;
}


.banner .caption .social_icon a {
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: rgb(72 67 255);
  /* text-shadow: 2px 3px 16px #ffffff; */
  font-size: 16px;
  transition: 0.5s all;
  margin: 15px;
  text-align: center;
}
.banner .caption .social_icon a:hover {
  color: rgb(255, 255, 255);
  transform: scale(1.2);
  background-color: #ff7717;
}

 
/**** about section **/



.about .part_text h4{
  font-size: 24px;
  margin-left: 10px;
  text-align: center;
 
}
.about .part_text p {
  border-bottom: 1px solid #f1f1f1;
  margin: 20px 0px;
  font-weight: lighter;
  font-size: 13px;
  padding: 0px 7px;
}

.about .part_text .info li{
  width: 48%;
  display: inline-block;
  margin-bottom: 15px;
}

span.value{
  color: #1957f3;
  font-weight: lighter;
}
/** hire me CSS */

.hire_me{

  background-image: linear-gradient(rgba(19, 18, 18, 0.7), rgba(0, 0, 0, 0.7)), /* for overlay of background image  */
    url(../photo/svg/banner-new.svg);
  background-attachment: fixed;
}
.hire_me h3{
  font-size: 30px;
  font-weight: 800;
  color: #f1f1f1;
}

/***  My Skills   ***/
.blog{
  border: 1px solid #fafafa;
  transition: all 0.5s;

}
.blog .row .section-title p{
  font-size: 30px;
  text-align: center;
  background: #1957f3;
  padding: 7px 19px;
  color: #fff;
  margin-left: 1.8%;
  margin-right: 1.8%;
  margin-bottom: 90px;
  margin-top: 90px;
  border-radius: 45px;

}

.blog  .blog-item .part-img{
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
}
 
.blog  .blog-item .part-img img{
 
  transition: all 0.5s;
}

.blog  .blog-item:hover .part-img img{
  transform: scale(1.1);
  opacity: 0.8;
 
}

.blog  .blog-item .part-img .post-info-category a{
  background: #1957f3;
  padding: 7px 19px ;
  color: #fff;
  margin-bottom: 90px;


}
 
 
 



/* FOOTER SECTION CSS */

.footer{
  background-color: #212121;
  padding-top: 60px;
  padding-bottom: 0px;
}
.footer .logo{
  width: 100%;
  margin-bottom: 10px;

}

.footer .logo .custom_logo{
  background-color:  #1957f3;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 0px 55px;
  letter-spacing: 2px;
  line-height: 2;
  transform: skewX(-20deg);
}
.footer .logo .custom_logo span{
  text-align: center;
  line-height: 50px;
  font-size: larger;
  text-shadow: #151515;
  transform: skewX(+20deg);
}
.footer .logo .custom_logo:hover{
 
  transform: skewX(+20deg);
   

}
.footer .logo .custom_logo:hover span{
 
  transform: skewX(-20deg);
   

}
 


.footer .social_icon a{
  display: inline-block;
  height: 40px;
  line-height: 80px;
  border-radius: 50%;
  margin-right: 25px;
  font-size: 18px;
   
  transition: 0.4s all;

}

.footer .social_icon a i{
  color: #fff;
}



/*  MEDIA QUERY  */

@media only screen and (max-width: 700px){


  .banner .caption h4 {
    font-size: 18px;
    opacity: 80%;
  }
  .mx-20 {
     margin-bottom: 250px;
  }
  .banner .caption h5 {
    color: rgb(255, 255, 255);
    margin-top: 310px;
  }
  .section_padding {
    padding: 0px 0px;
    margin: 10px;
  }
  section .about{
    border-radius: 50px;
  }
  .section_title {
    position: relative;
     margin-bottom: 0px; 
  }
  .hire_me {
    margin-top: 20px;
    padding: 10px;
    height: 175px;
  }
  .btn {
    background-color: #1957f3;
    border: 2px solid #ffffff;
    box-shadow: inset 0 0 0 0 #fff;
    letter-spacing: 0px;
    border-radius: 0;
    color: #fff;
    font-size: 12px;
    margin-right: 9px;
    margin-top: 30px;
    font-size: 10px;
  }
  .img-fluid1 {
    padding: 30px 0px;
    /* padding-top: 50px; */
  }
  .hire_me h3 {
    font-size: 17px;
    font-weight: 300px;
    color: #f1f1f1;
  }
  .blog .row .section-title p { 
    margin-bottom: 42px;
    margin-top: 32px;
    border-radius: 45px;
  }
  .banner .caption h2 span {
    color: #ff7717;
    font-size: 6rem;

  }
  .banner{
    background-image:url(/photo/svg/mob-view\ \(1\).svg);
    height: 100vh;
  }
  .banner .caption{
    margin-top: 90%;
  }
  .banner .caption h2{
    color: #fff;
    line-height: 30px;
    font-size: 30px;
  }
  .banner .caption h2 span{
    font-size: 5rem;
    margin-top: 13px;
  }
  .banner .caption p{
    color: #fff;
    margin-top: 13%;
    font-weight: lighter;
    letter-spacing: 0px;
    font-size: 15px;
    max-width: 90%;
  }

  .social_icon {
    margin-top: 20px;
    /* margin-left: -15px; */
    text-align: center;
  }
  .banner .caption .social_icon a {
    color: #ff3d00;
    background-color: rgb(255 255 255);
    
  }
  .container {
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
  }
  .section_title p {
    position: relative;
    font-size: 21px;
    text-transform: uppercase;
    line-height: 1.14;
    letter-spacing: 1.4px;
    padding: 13px;
    margin: 10px;
  }
  p{
    margin: 0px 20px;
  }
  p span{
    color: blue;
    font-weight: lighter;
    font-size: 15px;
  }
  .info .value{
    color: blue;
  }
  .blog .blog-item .part-img .post-info-category a {
    background: #1957f3;
    padding: 7px 19px;
    color: #fff;
    margin-bottom: 20px;
  }
  b, strong {
    font-weight: lighter;
  }

}

 

 